@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

footer {   
    margin-top: auto;
    /* background-color: rgb(254, 80, 0); */
    color: white;
    text-align: center;
    /* padding: 8px 5px; */
}

.seatbook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content{
    display: flex;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: dodgerblue;
}

.top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* gap: 5px; */
    margin-bottom: -30px;
}

.seat-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    margin-top: 0px;
}

.footer-link {
    margin: 10px;
    font-family: 'Kanit', sans-serif;
    color: rgb(2, 1, 104); 
}

.navbar {
    background-color: dodgerblue;
    font-size: 2em;
    font-family: 'Anton', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
    align-items: center; 
    justify-content: center; 
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    margin-left: 30px;
}

body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(225, 243, 254);
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-content p {
    text-align: center;
    max-width: 75%; 
    margin: 0 auto;
}

.booking-form{
    display: flex;
    align-items: center;
    justify-content: center;
}