{% extends "layout.html" %}
{% block title %}
FacilityMonitor
{% endblock %}
{% block content %}
<h1>Welcome to the FacilityMonitor!</h1>
<br>
<br>
<h2><p>Welcome to our Academic Complex Booking System! Our innovative platform revolutionizes the way you book and view seats and rooms within our academic complex, tailored perfectly to match your timetable. Seamlessly integrated with advanced booking functionalities and a comprehensive viewing system, our project simplifies the process of reserving seats and rooms for your academic activities. 
    <br>
    <br>
    <br>Whether you're seeking a quiet corner for individual study, a collaborative space for group projects, or a specialized room for academic events, our platform has you covered. With real-time updates reflecting the availability of seats and rooms according to the institution's timetable, you can effortlessly plan your study sessions or meetings without the hassle of conflicting schedules. 
    <br>
    <br>
    <br>Our user-friendly interface ensures a smooth booking experience, allowing you to navigate through available options and secure your preferred space with ease. Say goodbye to the frustration of double bookings and wasted time searching for available resources. Embrace efficiency and productivity with our Academic Complex Booking System, empowering you to make the most out of your academic journey. 
    <br>
    <br>
    <br>Start exploring now and elevate your learning experience today!
    <br>
    

</p>
</h2>
{% endblock %}