<style>
    .input-audi {
 border: none;
 padding: 1rem;
 border-radius: 1rem;
 background: #e8e8e8;
 box-shadow: 20px 20px 60px #949494,
		-20px -20px 60px #ffffff;
 transition: 0.3s;
 width: 10em;
 height: 1em;
}

.input-audi:focus {
 outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}

.btn0 {  font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;}  
.btn0:hover .btn-slide-show-text1 {  margin-left: 65px;}  
.flash-slide {  border: medium;  display: inline-block;  color: rgb(255, 255, 255);  margin: 20px;  width: 180px;  height: 50px;  border-radius: 10px;  position: relative;  overflow: hidden;  text-decoration: none;  text-transform: uppercase;  font-family: Helvetica;  text-align: center;}  
.flash-slide::before {  content: "";  position: absolute;  top: -30px;  left: -80px;  height: 100px;  width: 70px;  background: rgba(255, 255, 255, 0.3);  transform: rotate(20deg);}  
.flash-slide:hover::before {  left: 190px;  transition: 0.5s;}  
.flash-slide--blue {  background: rgb(61, 135, 255);}  

</style>
{% extends "layout.html" %}
{% block title %}
    Parking {{ current_day }}
{% endblock %}
{% block content %}
<div class="seat-container">
    <div style="width: 100%; text-align: center;">
        <h2>Availability for {{ current_day }}</h2>
    </div>
    {% if not pdf %}
        <p>Which seat do you want to book?</p>
    {% endif %}    
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}


    {% if pdf %}
        <form class="booking-form" action="{{ url_for('generate_pdf') }}" method="POST">
            <input type="hidden" name="misno" value="{{ mis }}">
            <input type="hidden" name="receiptnum" value="{{ receiptnum }}">
            <input type="hidden" name="day" value="{{ current_day }}">
            <input type="hidden" name="row" value="{{ row }}">
            <input type="hidden" name="column" value="{{ column }}">
            <input type="submit" value="generatePdf" class="btn0 flash-slide flash-slide--blue booking-form">
        </form>
    {% endif %}



    {% if not pdf %}
    <input type="hidden" name="misno" id="misno" value="{{ mis }}">
    <input type="hidden" name="day" id="day" value="{{ current_day }}">
    <button class="btn0 flash-slide flash-slide--blue booking-form" onclick="book_seat()">Book Parking Slot</button>
    {% endif %}


    <!-- {% if not pdf %}
    <form class="booking-form" action="{{ url_for('bookseat') }}" method="POST">
        <input type="hidden" name="misno" value="{{ mis }}">
        <input type="hidden" name="day" value="{{ current_day }}">
        
        <label for="row">Row </label>
        <input class = "input-audi" type="number" id="row" name="row" min="1" max="{{ total_rows }}" required>
        
        <label for="column">Column </label>
        <input class = "input-audi" type="number" id="column" name="column" min="1" max="{{ total_seats_per_row }}" required>
        
        <input class="input-audi" type="submit" value="Book" style="text-align: center;">
    </form>
    {% endif %} -->



    {% set total_rows = 25 %}
    {% set total_seats_per_row = 32 %}
    {% for row_num in range(1, total_rows + 1) %}
        <div class="seat-row">
            <div class="seat-label">Row {{ row_num }}</div>
            {% for seat_num in range(1, total_seats_per_row + 1) %}
                {% if seat_num == 7 or seat_num == 27 %}
                    <div class="passage"></div>
                {% endif %}
                <div class="passage2"></div>
                {% set seat_availability = get_auditorium_seat_availability(seat_num, row_num, current_day) %}
                <div class="seat {% if seat_availability == 'Occupied' %}selected{% endif %}">
                    {% if seat_availability == 'Vacant' %}
                        <span class="seat-number">{{ seat_num }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% if pdf %}
<script>
    window.onload = function display_qr(){
        Swal.fire({
        title: "Your Ticket",
        text: "Booking Success",
        showConfirmButton: false,
        imageUrl: "{{ qrcode('Receipt Number : {} Seat Number {}-{}'.format(receiptnum, row, column)) }}",
        imageWidth: 400,
        imageHeight: 400,
        html: `
        <form class="booking-form" action="{{ url_for('generate_pdf') }}" method="POST">
            <input type="hidden" name="misno" value="{{ mis }}">
            <input type="hidden" name="receiptnum" value="{{ receiptnum }}">
            <input type="hidden" name="day" value="{{ current_day }}">
            <input type="hidden" name="row" value="{{ row }}">
            <input type="hidden" name="column" value="{{ column }}">
            <input type="submit" value="generatePdf" class="btn0 flash-slide flash-slide--blue booking-form">
        </form>  
                `,
        imageAlt: "qr"

        });
    }
</script>
    <!-- <img src="{{ qrcode('Receipt Number : {} Seat Number {}-{}'.format(receiptnum, row, column)) }}"> -->
{% endif %}

{% endblock %}