<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap">
<style>
    .radio-input {
  display: flex;
  max-width: 800px;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #002c79;
    border-radius: 10px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 20px;
    text-align: center;

}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
  background-color: #ccc;
  top: 0;
}

.radio-input input[type="radio"]:checked + label {
  background-color: dodgerblue;
  color: #fff;
  border-color: rgb(255, 255, 255);
  animation: radio-translate 0.5s ease-in-out;
}
.venue-title {
  font-family: 'Lato', sans-serif; /* Use Lato font */
  font-weight: bold; /* Make it bold */
  font-size: 24px;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.svenue {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.content-wrapper {
    text-align: center;
    max-width: 1000px;
    max-height: 1000px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust background color with transparency */
    backdrop-filter: blur(10px); /* Add backdrop-filter for blur effect */
    padding: 20px;
    padding-bottom: 70px;
    border-radius: 30px;
}

.submit {
        border: none;
        outline: none;
        background: linear-gradient(144deg, #FFA500, #FF6347 50%, #FFD700);
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
        margin: 0 auto;
      }
      
      .submit:hover {
        scale: 1.05;
        color: aliceblue;
      }

      .submit:active{
        scale: 0.95;
      }

      .no-pks{
        display: flex;
        flex-direction: row;
        margin-left: 50px;
      }
</style>


<!-- <style>
    @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #0069d9;
  font-family: 'Lato', sans-serif;
}
.wrapper{
  display: inline-flex;
  background: #fff;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;    <p class="second-text">Lorem Ipsum</p>

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
</style> -->


{% extends "layout3.html" %}
{% block title %}
    Select Venue
{% endblock %}

{% block content %}

<div class="svenue">
  <div class="content-wrapper">

<h1>Select The Venue</h1>
{% if error %}
    <p class="error-message">{{ error }}</p>
{% endif %}

<form class="form-venue" action="{{ url_for('redirectvenue') }}" method="POST">
    <input type="hidden" name="misno" value="{{ mis }}">
    <label class = "venue-title">Choose a Venue</label><br>
    <div class="radio-input">
      <div class="no-pks">  
        <input type="radio" id="venue_AC_building_1" name="venue" value="AC_building_1">
        <label for="venue_AC_building_1">Academic Complex Building Floor 1</label><br>
        
        <input type="radio" id="venue_AC_building_2" name="venue" value="AC_building_2">
        <label for="venue_AC_building_2">Academic Complex Building Floor 2</label><br>
        
        <input type="radio" id="venue_Auditorium" name="venue" value="Auditorium">
        <label for="venue_Auditorium">Auditorium</label><br>
        
        <!-- <input type="radio" id="venue_parking_slot" name="venue" value="parking_slot">
        <label for="venue_parking_slot">Parking Slot</label><br><br> -->
      </div>    
      </div>

    <label class="venue-title">Choose a Day</label><br>
    <div class="radio-input">
        <input type="radio" id="Monday" name="day" value="Monday">
        <label for="Monday">Monday</label><br>
    
        <input type="radio" id="Tuesday" name="day" value="Tuesday">
        <label for="Tuesday">Tuesday</label><br>
    
        <input type="radio" id="Wednesday" name="day" value="Wednesday">
        <label for="Wednesday">Wednesday</label><br>
    
        <input type="radio" id="Thursday" name="day" value="Thursday">
        <label for="Thursday">Thursday</label><br>
    
        <input type="radio" id="Friday" name="day" value="Friday">
        <label for="Friday">Friday</label><br>
    
        <input type="radio" id="Saturday" name="day" value="Saturday">
        <label for="Saturday">Saturday</label><br>
    
        <input type="radio" id="Sunday" name="day" value="Sunday">
        <label for="Sunday">Sunday</label><br>
        <br>
    </div>
        
        <br><br>

    
    <input type="submit" value="Submit" style="margin-top: 30px;"
    >
  </div>
</div>
</form>

{% endblock %}
